:root {
    --vp-c-brand-1: #2cc1ff;
    --vp-c-brand-2: #41c7ff;
    --vp-c-brand-3: #1e87b2;
    --vp-c-brand-soft:#37464C;
  }
  /*
  https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
--vp-c-brand: var(--vp-c-green);
  --vp-c-brand-light: var(--vp-c-green-light);
  --vp-c-brand-lighter: var(--vp-c-green-lighter);
  --vp-c-brand-dark: var(--vp-c-green-dark);
  --vp-c-brand-darker: var(--vp-c-green-darker);
  */